<?xml version="1.0"?>

<robot name ="wam" xmlns:xacro="http://www.ros.org/wiki/xacro">

        <xacro:property name="platform_height" value="0.55" />
        <xacro:property name="platform_radius" value="0.3" />
        <xacro:property name="leg_radius" value="0.02" />
        <xacro:property name="platform_x" value="0.98" />
        <xacro:property name="platform_y" value="0.0" />
        <xacro:property name="platform_z" value="0.0" />
        <xacro:property name="platform_top_thickness" value="0.05"/>
	<xacro:property name="M_PI" value="3.1415926535897931" />

	<link name="world" />

	<xacro:include filename="$(find platform_description)/xacro/platform.urdf.xacro" />

	<joint name="world_platform_joint" type="fixed">
		<parent link="world"/>
		<child link="p0_link" />
		<origin xyz="${-platform_x} ${-platform_y} ${-platform_z}" rpy="0.0 0.0 0.0" />
	</joint>

  
	<xacro:include filename="$(find wam_description)/xacro/wam.urdf.xacro" />

	<joint name="platform_wam_joint" type="fixed">
		<parent link="platform_top_link"/>
		<child link="wam_origin" />
		<origin xyz="-0.22 -0.14 ${platform_top_thickness}" rpy="0.0 0.0 0.0" />
	</joint>

</robot>
