<?xml version="1.0"?>

<robot name ="wam" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<link name="world" />
	<xacro:include filename="$(find platform_description)/xacro/properties.urdf.xacro" />
	<xacro:include filename="$(find platform_description)/xacro/platform.urdf.xacro" />

	<joint name="world_platform_joint" type="fixed">
		<parent link="world"/>
		<child link="p0_link" />
		<origin xyz="${-platform_x} ${-platform_y} ${platform_z}" rpy="${M_PI/2} 0 ${M_PI/2}" />
	</joint>

  
	<xacro:include filename="$(find wam_description)/xacro/wam.urdf.xacro" />

	<joint name="platform_wam_joint" type="fixed">
		<parent link="platform_top_link"/>
		<child link="wam_origin" />
		<origin xyz="${wam_x} ${wam_y} ${wam_z}" rpy="${M_PI/2} 0 ${M_PI/2}" />
	</joint>

</robot>
